/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
\
 */
 @import "bootstrap";

 .text-black{
     color: black;
 }
a{
    color: inherit;
    text-decoration: none;
}
//change a white to a utility
a:hover{
    color: inherit;
}
.hover-border-b:hover{
    border-bottom: 1px solid;
    border-color: white;
}
 .bg-color{
     background-color: rgb(230, 105, 38);
 }
 
 // utilities

 .center{
     text-align: center;
 }
 @media (min-width: 768px){
     .w-md-25{
         width: 25%;
     }
 }

//  .header{
//      background-image: url(running_man.png);
//      height: 21rem;
//      background-size: contain;
//      background-position: right;
//      background-repeat: no-repeat;
//  }